$white-color: #ffffff;
$background-elems: #ffb800;
$gray-elems: #333333;

* {
  padding: 0;
  margin: 0;
}

select.when__1 img {
  border: 0;
}

body {
  line-height: 1.2;
  min-width: 300px;
  margin: 0 auto;
}
main {
  min-width: 300px;
  margin: 0 auto;
}

article {
  min-width: 300px;
  min-height: 1032px;
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.03) 2.5%,
      rgba(27, 30, 34, 0.4) 42.42%,
      #1b1e22 80.67%
    ),
    url(../images/Rectangle1.png);
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  align-content: start;
  background-size: cover;
}

.header {
  width: 85%;
  min-height: 60px;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  margin: 0 auto;
  margin-top: 29px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30px, auto);
}

.header_logo {
  max-width: 183px;
  height: 50px;
}

.header_rueng {
  align-self: end;
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-bottom: 15px;
}

.header_rueng ul {
  width: 100%;
  height: 16px;
  vertical-align: top;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header_rueng ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-self: flex-start;
}

.header_rueng ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  vertical-align: top;
  color: $white-color;
  text-decoration: none;
  list-style-type: none;
  align-self: flex-start;
  font-family: "Montserrat-Light";
}

.header_rueng ul li a:visited {
  color: $gray-elems;
}

.header_menu {
  align-self: center;
  display: grid;
  align-items: end;
  width: 653px;
  height: 100%;
}

.header_menu ul {
  height: 48px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header_menu ul li {
  display: grid;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  transition: 0.5s all;
}

.header_menu ul li a {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: $white-color;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  transition: 0.5s all;
}

.header_menu ul li:hover {
  border: 1px solid $background-elems;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.5s;
  transform: scale(1.3);
  padding: 10px;
}

.withus {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 90px;
}

.withus_left {
  color: $white-color;
  margin-top: 45px;
  max-width: 556px;
}

.withus_left h4 {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: $white-color;
}

.withus_left p {
  font-family: "Montserrat-Light";
  max-width: 474px;
  font-size: 20px;
  line-height: 38px;
  margin-top: 42px;
  text-align: start;
  color: $white-color;
}

.withus_form {
  width: 500px;
  height: 360px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  padding: 0px 15px;
  display: grid;
}

.contain {
  justify-self: center;
  width: 360px;
  margin-top: 51px;
}

.contain p {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $white-color;
  margin-bottom: 23px;
}

.form {
  width: 360px;
  display: grid;
}

form {
  max-width: 360px;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: minmax(15px, auto);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.where,
.typetour,
.search {
  grid-column: 1 / 3;
}

.where,
.typetour,
.when,
.howlong {
  height: 36px;
}

.search {
  display: flex;
  justify-content: center;
}

.where input[type="text"],
.howlong input[type="text"],
.when select[type="text"],
.typetour select[type="text"] {
  font-family: "Montserrat-Light";
  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background: rgba(51, 51, 51, 0.25);
  color: $white-color;
  padding-left: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 95%;
  background-image: url(../images/Form/Arrow_down.png);
  background-repeat: no-repeat;
  outline: none;
}

.howlong input[type="text"] {
  background-image: none;
}

.when select[type="text"] {
  background-position: 95%;
}

.where input[type="text"] {
  background-image: url(../images/Form/Ellipse.png);
  background-repeat: no-repeat;
  background-position: 95%;
  outline: none;
} /*Вставка графики в форму*/

.where input[type="text"]::-moz-placeholder {
  color: $white-color;
}
.where input[type="text"]::-webkit-input-placeholder {
  color: $white-color;
}
.where input[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.where input[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.where input[type="text"]::placeholder {
  color: $white-color;
}

.when select[type="text"]::-moz-placeholder {
  color: $white-color;
}
.when select[type="text"]::-webkit-input-placeholder {
  color: $white-color;
}
.when select[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.when select[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.when select[type="text"]::placeholder {
  color: $white-color;
}

.typetour select[type="text"]::-moz-placeholder {
  color: $white-color;
}
.typetour select[type="text"]::-webkit-input-placeholder {
  color: $white-color;
}
.typetour select[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.typetour select[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.typetour select[type="text"]::placeholder {
  color: $white-color;
}

.howlong input[type="text"]::-moz-placeholder {
  color: $white-color;
}
.howlong input[type="text"]::-webkit-input-placeholder {
  color: $white-color;
}
.howlong input[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.howlong input[type="text"]::-ms-input-placeholder {
  color: $white-color;
}
.howlong input[type="text"]::placeholder {
  color: $white-color;
}

.where__1,
.when__1,
.howlong__1,
.typetour__1 {
  width: 100%;
  height: 36px;
  background: rgba(51, 51, 51, 0.25);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(24px);
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $white-color;
  font-family: "Montserrat-Light";
  background: transparent;
  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $white-color;
}

.search__1 {
  width: 360px;
  height: 36px;
  background: $background-elems;
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $gray-elems;
  cursor: pointer;
  transition: 0.2s all;
}

.search__1:hover {
  color: $white-color;
  background-color: $gray-elems;
  transition: 0.2s all;
}

.whyus_wrapper {
  min-height: 263px;
  background-size: cover;
  overflow: hidden;
}

.whyus {
  display: grid;
  grid-auto-rows: minmax(30px, auto);
  min-height: 228px;
  margin: 0 auto;
  margin-top: 205px;
  margin-bottom: 50px;
}

.whyus p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: $white-color;
  margin-bottom: 21px;
}

.advantages {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.advantages_item {
  width: 100%;
  min-height: 168px;
  display: grid;
  align-content: space-between;
  margin: 0px 10px;
}

.visapics,
.worldpics,
.guidepics,
.equipmentpics {
  display: grid;
  justify-items: center;
  margin-top: 35px;
}

.advantages_info {
  margin-top: 10px;
  display: grid;
  justify-content: center;
}

.advantages_info p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.development {
  background: #1b1e22;
  overflow: hidden;
}

.development p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: $white-color;
  margin-bottom: 45px;
}

.tourist_routes {
  width: 85%;
  display: grid;
  justify-content: space-around;
  grid-gap: 24px;
  margin: 0 auto;
  justify-items: center;
  grid-auto-rows: minmax(30px, auto);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.routes {
  background: #23282f;
  width: 100%;
  // max-width: 360px;
  min-height: 432px;
  border-radius: 4px;
  display: grid;
  align-items: start;
  transition: 0.5s all;
  position: relative;
  border-radius: 5px;
}

.routes img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  line-height: 0;
  border-radius: 5px 5px 0px 0px;
}

.routes h4 {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $white-color;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  margin-top: 10px;
}

.routes > p {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $white-color;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 16px;
  padding: 0px 20px;
}

.routes a {
  align-self: end;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $white-color;
  opacity: 0.5;
  text-decoration: none;
  max-width: 97px;
  margin: 10px 0px 20px 20px;
}

.cost {
  width: 248px;
  height: 32px;
  display: flex;
  position: absolute;
  top: 10px;
}

.pleft,
.pright {
  font-family: "Montserrat-Medium";
  height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
}

.pleft {
  background: $background-elems;
  width: 78px;
}

.pright {
  width: 170px;
  border-radius: 0px 6px 6px 0px;
  background-color: rgba(27, 30, 34, 0.75);
}

.pleft p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 32px;
  color: #1b1e22;
  margin: 0 auto;
}

.pleft p b {
  font-family: "Montserrat-Medium";
  font-size: 18px;
}

.pright p {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $white-color;
  margin: 0 auto;
}

.lookall {
  width: 216px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 72px;
}

.lookall a {
  font-family: "Montserrat-Medium";
  margin: 0 auto;
  color: $white-color;
  padding: 10px 20px;
  width: 216px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid $background-elems;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 0.5s;
}

.lookall a:after {
  content: " ";
  border: 2px solid $background-elems;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s;
}

.lookall a:hover {
  color: $background-elems;
  transition: color 0.5s;
}

.lookall a:hover:after {
  border: 2px solid $white-color;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  border-radius: 5px;
  transition: color 0.5s;
}

.tourist_routes:hover .routes .cost .pright p {
  color: $white-color;
}

.routes:hover {
  background: white;
  color: black;
  transform: scale(1.05);
  transition: all 0.5s;
}

.routes:hover h4 {
  color: $gray-elems;
}

.routes:hover p {
  color: $gray-elems;
}

.routes:hover a {
  color: #000000;
  opacity: 0.5;
}

.statistics {
  min-height: 265px;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(
      rgba(27, 30, 34, 0.78),
      #1b1e22 80.67%
    ),
    url(../images/Stat/Stat.jpg);
  background-image: -o-linear-gradient(rgba(27, 30, 34, 0.78), #1b1e22 80.67%),
    url(../images/Stat/Stat.jpg);
  background-image: linear-gradient(rgba(27, 30, 34, 0.78), #1b1e22 80.67%),
    url(../images/Stat/Stat.jpg);
  background-size: cover;
  overflow: hidden;
  /*Схлопывание margin*/
}

.about {
  width: 85%;
  min-height: 135px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.about_numbers {
  text-align: center;
  display: grid;
  margin: 0px 10px;
  align-content: space-between;
}

.numb p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 78px;
  text-align: center;
  color: $background-elems;
}

.txt p {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $white-color;
}

.ourblog {
  background: #1b1e22;
  overflow: hidden; /*Схлопывание margin*/
}

.ourblog p {
  margin-top: 62px;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  color: $white-color;
  text-align: center;
}

.spanblog {
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 62px;
  grid-gap: 24px;
  justify-content: space-between;
  justify-items: center;
  grid-auto-rows: minmax(30px, auto);
}

.bignews {
  width: 100%;
  min-height: 480px;
  background: linear-gradient(rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65)),
    url(../images/Ourblog/Rectangle2.jpg);
  border-radius: 4px;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s;
}

.bignews h4 {
  max-width: 100%;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: $white-color;
  padding: 51px 16px 0px 16px;
}

.bignews p {
  max-width: 100%;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: $white-color;
  margin-top: 24px;
}

.bignews:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.twosmallnews {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  justify-content: space-between;
  justify-items: center;
  grid-auto-rows: minmax(30px, auto);
}

.smallnews {
  height: 480px;
  background: #23282f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: grid;
  align-content: space-between;
  transition: all 0.3s;
}

.smallnews img {
  width: 100%;
  border-radius: 10px 3px 0px 0px;
  margin-bottom: 20px;
}

.smallnews h5 {
  max-width: 85%;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $white-color;
  margin: 0 auto;
  margin-bottom: 14px;
}

.smallnews p {
  max-width: 85%;
  margin: 0 auto;
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $white-color;
  text-align: left;
  mix-blend-mode: normal;
}

.smallnews:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.media {
  max-height: 500px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.media img {
  border-radius: 10px 10px 0px 0px;
}

.spanblog a {
  text-decoration: none;
  list-style-type: none;
}

.feedstatist {
  width: 100%;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 60px;
  -webkit-box-shadow: 0px -20px 20px 0px #23282f;
  -moz-box-shadow: 0px -20px 20px 0px #23282f;
  box-shadow: 0px -20px 20px 0px #23282f;
}

.feedstat {
  max-width: 86px;
}

.feeddate p {
  font-family: "Montserrat-Light";
  font-weight: 400;
  min-width: 103px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.lookalltw {
  width: 216px;
  margin: 0 auto;
  margin-top: 49px;
  margin-bottom: 72px;
  transition: 0.2s all;
}

.lookalltw a {
  font-family: "Montserrat-Medium";
  margin: 0 auto;
  color: $white-color;
  padding: 10px 20px;
  width: 216px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid $background-elems;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s all;
}

.lookalltw a:hover {
  background-color: $background-elems;
  color: #1b1e22;
  transition: 0.6s;
}

aside {
  min-height: 432px;
  background: #1b1e22;
  margin-top: -3px;
  overflow: hidden; /*Схлопывание margin*/
}

aside h4 {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: $white-color;
  margin-bottom: 47px;
}

.slider {
  margin: 0 auto;
  max-width: 924px;
  min-height: 286px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 61px;
}

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider__contents {
  display: grid;
  justify-content: end;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Quotation img {
  z-index: -1;
  opacity: 0.1;
  margin-bottom: -60px;
}

.slider__contents p {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  text-align: center;
  color: $white-color;
  height: 100%;
}

.naming {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: $background-elems;
  height: 100%;
  margin-top: 16px;
}

.slider__nav {
  background-color: white;
  width: 8px;
  height: 8px;
  margin: 0 12px;
  z-index: 3;
  outline-offset: -5px;
  outline: 8px solid $gray-elems;

  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes check {
  50% {
    outline-color: white;
    box-shadow: 0 0 0 12px white, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: white;
    box-shadow: 0 0 0 0 white, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: $background-elems;
    box-shadow: 0 0 0 12px white, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: white;
    box-shadow: 0 0 0 0 white, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

.round {
  width: 96px;
  height: 96px;
  border-radius: 1000px; /* Радиус скругления */
}

footer {
  min-height: 92px;
  background: #1b1e22;
  margin-top: -3px;
  overflow: hidden;
}
.blocks {
  width: 85%;
  min-height: 76px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30px, auto);
  margin: 0 auto;
}

.connectus,
.callnumbus,
.socialus {
  width: 100%;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.email,
.location {
  display: flex;
  justify-content: flex-start;
  height: 24px;
}

.email {
  margin-bottom: 15px;
}

.email p,
.location p {
  height: 24px;
}

.email p,
.location p,
.nuberfrst p {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: $white-color;
}

.email h5,
.location h5,
.nuberfrst h5 {
  width: 78px;
  height: 24px;
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: $background-elems;
  margin-right: 26px;
  display: flex;
  align-items: center;
  text-align: right;
}

.nuberfrst {
  display: flex;
}

.nuberfrst h5 {
  display: grid;
  justify-content: end;
}

.about_numbers {
  display: grid;
  justify-content: space-between;
}

.numb__1,
.numb__2 {
  height: 24px;
}

.numb__1 {
  margin-bottom: 15px;
}

.socialus h5 {
  height: 24px;
  margin-bottom: 15px;
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  color: $background-elems;
}

.allsoc {
  height: 36px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.allsoc img {
  height: 18px;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s;
}

.allsoc a img:hover {
  transform: scale(1.5);
  transition: all 0.4s;
  background: $background-elems;
  padding: 5px;
  border-radius: 50px;
  overflow: hidden;
}

@media screen and (min-width: 1920px) {
  .bignews {
    width: 100%;
    min-height: 550px;
  }

  .smallnews {
    height: 550px;
  }
  .smallnews img {
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    margin-bottom: 10px;
  }
}
