@media screen and (max-width: 1200px) {
  .rueng {
    justify-content: space-evenly;
    margin: 28px 25px 16px 25px;
  }

  .visap p,
  .worldp p,
  .guidep p,
  .equipmentp p {
    margin: 0 15px;
  }

  .bignews {
    height: 100%;
  }

  .connectus,
  .callnumbus,
  .socialus {
    height: 60px;
  }

  .connectus {
    width: 100%;
    margin: 0 auto;
  }

  .blocks {
    margin: 0 auto;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .callnumbus {
    width: 100%;
    margin: 0 auto;
  }

  .nuberfrst {
    height: auto;
    justify-content: flex-end;
    width: 85%;
    margin: auto;
  }

  .email h5,
  .location h5,
  .nuberfrst h5 {
    margin-right: 15px;
  }

  .socialus {
    margin: 0 auto;
    width: 100%;
  }

  .socialus h5 {
    display: block;
    text-align: center;
  }

  .allsoc {
    margin: 0 auto;
    width: 70%;
  }

  @media screen and (max-width: 1080px) {
    .header {
      width: 90%;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }

    .rueng {
      justify-content: space-between;
    }

    .spanblog {
      max-width: 90%;
      grid-gap: 10px;
    }

    .twosmallnews {
      grid-gap: 10px;
    }

    .smallnews img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }

    .withus {
      margin: 0 auto;
      display: grid;
      justify-content: space-around;
      justify-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(30px, auto);
      grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    }

    .withusleft {
      margin: 0 25px;
      margin-top: 45px;
      max-width: 800px;
    }

    .withusleft h4 {
      text-align: center;
    }

    .withusleft p {
      margin: 0 auto;
      text-align: center;
      max-width: 800px;
      line-height: 38px;
      margin-top: 5px;
    }

    .withusform {
      margin-top: 40px;
      width: 650px;
    }

    .contain {
      justify-self: center;
      width: 650px;
    }

    .contain p {
      text-align: center;
      font-size: 35px;
      margin-bottom: 15px;
    }

    .form {
      width: 650px;
    }

    form {
      margin-right: 20px;
      margin-left: 20px;
      max-width: 650px;
    }

    .where input[type="text"] {
      background-position: 585px;
    }

    .search__1 {
      width: 550px;
      height: 55px;
      font-size: 25px;
      line-height: 24px;
    }

    .whyus {
      margin-top: 50px;
    }

    .routes__1,
    .routes__2,
    .routes__3,
    .routes__4,
    .routes__5,
    .routes__6 {
      min-height: 432px;
      display: grid;
      align-items: start;
    }

    .routes__1 img,
    .routes__2 img,
    .routes__3 img,
    .routes__4 img,
    .routes__5 img,
    .routes__6 img {
      height: 216px;
      margin: 0;
      line-height: 0;
    }

    .feedback {
      max-width: 1440px;
      background: #1b1e22;
      overflow: hidden; /*Схлопывание margin*/
    }

    .feedstatist {
      max-width: 85%;
      min-height: 136px;
      display: grid;
      justify-content: space-around;
      justify-items: center;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(1px, auto);
    }

    .smallnews {
      height: 100%;
    }

    .slider {
      height: 300px;
      margin: auto;
    }

    .slider__contents p {
      height: auto;
    }
  }
}
